@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-page {
    background-color: var(--aw-color-bg-page);
  }
  .bg-dark {
    background-color: var(--aw-color-bg-page-dark);
  }
  .bg-light {
    background-color: var(--aw-color-bg-page);
  }
  .text-page {
    color: var(--aw-color-text-page);
  }
  .text-muted {
    color: var(--aw-color-text-muted);
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-full border bg-transparent font-medium text-center text-base leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 cursor-pointer;
  }

  .btn-primary {
    @apply btn font-semibold text-[var(--aw-color-bg-page)] border-[var(--aw-color-primary)] bg-[var(--aw-color-primary)];
  }
  .btn-primary:hover,
  .btn-primary:focus {
    @apply bg-[var(--aw-color-secondary)] border-[var(--aw-color-secondary)] text-[var(--aw-color-bg-page)];
  }

  .btn-secondary {
    @apply btn border-[var(--aw-color-secondary)] text-[var(--aw-color-secondary)] bg-transparent;
  }
  .btn-secondary:hover,
  .btn-secondary:focus {
    @apply bg-[var(--aw-color-secondary)] text-[var(--aw-color-bg-page)];
  }

  .btn-tertiary {
    @apply btn border-none shadow-none text-[var(--aw-color-text-muted)] bg-transparent;
  }
  .btn-tertiary:hover,
  .btn-tertiary:focus {
    @apply text-[var(--aw-color-text-heading)];
  }
}

.tagline {
  font-family: 'Beth Ellen', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
}

#header.scroll > div:first-child {
  @apply bg-page md:bg-white/90 md:backdrop-blur-md;
  box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
}
.dark #header.scroll > div:first-child,
#header.scroll.dark > div:first-child {
  @apply bg-page md:bg-[#030621e6] border-b border-gray-500/20;
  box-shadow: none;
}
/* #header.scroll > div:last-child {
  @apply py-3;
} */

#header.expanded nav {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 70px !important;
  padding: 0 5px;
}

.dropdown:focus .dropdown-menu,
.dropdown:focus-within .dropdown-menu,
.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

/* To deprecated */

.dd *:first-child {
  margin-top: 0;
}
